.to-do-item {
    float : left ;
    width : 100% ;
    cursor : pointer ;
}

.to-do-item span {
    margin-left : 10px ;
}

.to-do-item-action {
    width : 5% ;
    float : right ;
    display : inline ;
}

.to-do-item-action span {
    margin-left : 10px ;
}

.ant-list-item:hover {
    background-color : rgb(231, 231, 231) ;
}

.ant-list-item:hover .ant-tag {
    transform : scale(1.05) ;
}

.ant-list-item:hover .to-do-item span {
    transform : scale(1.2) ;
    font-size : 120% ;
}

.ant-list-item:hover .to-do-item-action {
    transform : scale(1.2) ;
}