.ant-layout {
  height : 100vh ;
}

.panel {
	position : absolute ;
	width : 90% ;
	left : 5%;
	top : 15% ;
	padding : 24px ;
	border-radius : 25px ;
	border : 2px solid white ;
	background : white ;
}

.ant-layout-footer {
	text-align: center ;
}